body {
    background-color: #DFF2FB;
}

input {
    border: 1px solid #000 !important;
    margin-left: 10px;
}
img {
    width: 100%;
}
p {
    font-size: 12px;
    font-family: 'Open Sans';
}

.ModalContainer p {
    font-size: 16px;
}

.Photo {
    flex:1 1 auto;
    width: calc(20% - 20px);
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    margin: 10px 0;
    padding: 10px 10px;
    list-style: none;
    display: inline-block;
}

.Header {
  background-color: #fff;
  padding: 0 7%;
  border-bottom: 8px solid #57BDAC;
}

.Header img {
  max-width: 30em;
}

.ModalContainer img {
    max-width: 600px;
    padding-top: 30px;
}

.ModalContainer span {
    font-weight: 700;
    opacity: 0.5;

}

.ModalContainer {
    text-align: center;
    padding-top: 50px;
}

.Container {
    padding: 0 10%;
}

.ModalTitle {
    padding-top: 50px;
    padding-left: 10px;
}

@media screen and (max-width: 768px) {
    .ModalTitle {
        padding-top: 50px;
        padding-left: 0;
    }
    .Photo:nth-child(even) {
        padding-right: 0;
    }

    .Photo:nth-child(odd) {
        padding-left: 0;
    }

    .Photo {
        width: calc(50% - 10px);
        margin: 0 auto;
    }
    .Header {
        padding: 0 5%;
  }
}

@media screen and (max-width: 479px) {
    .Header {
        padding: 0 2%;
    }

    .Photo {
      width: 100%;
      margin: 0 auto;
      padding: 0;
  }
}